<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION PART</title>
</head>
<h2>Registration Part</h2>
<body>
<form action="registration" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter username"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter last name"><br>
    <input type="email" name="email" placeholder="Enter your mail id"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="re-password" placeholder="re-enter your password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>